// ─── Layout ──────────────────────────────────────────────────────────────────
$header-height:             140px;
$container-max-width:        960px;  // contentContainer
$large-container-max-width: 1200px;  // largeContainer

// ─── Couleurs ────────────────────────────────────────────────────────────────
$dark:        #00000C;
$grey-dark:   #20202A;
$grey:        #3F3F48;
$grey-light:  #7F7F85;
$white:       #FFFFFF;

// ─── Typographie ─────────────────────────────────────────────────────────────
$font-family: 'Geologica', sans-serif;

$font-weight-thin:    100;
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    700;
$font-weight-black:   900;

$font-style-normal: normal;
$font-style-italic: italic;

$font-size-body: 16px;
$font-size-h1:   48px;
$font-size-h2:   16px;
